# See https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Mark Wiebe <mwiebe@continuum.io> Mark Wiebe <mwwiebe@gmail.com>
Mark Wiebe <mwiebe@continuum.io> Mark <mwwiebe@gmail.com>
Irwin Zaid <hi@irwinzaid.com> Irwin <hi@irwinzaid.com>
Irwin Zaid <hi@irwinzaid.com> irwin <hi@irwinzaid.com>
Irwin Zaid <hi@irwinzaid.com> izaid <hi@irwinzaid.com>
Irwin Zaid <hi@irwinzaid.com> izaid <izaid@users.noreply.github.com>
Oscar Villellas <oscar.villellas@continuum.io> ovillellas <oscar.villellas@continuum.io>
Damien Garaud <damien.garaud@gmail.com> Damien Garaud <damien.garaud@logilab.fr>

